build/
*.a
*.o
*.exe
*.lib
*.dll
*.log

CMakeCache.txt
CMakeFiles/
cmake_install.cmake

*.tmp
*.bak

.DS_Store
Thumbs.db

*.sln
*.vcxproj*
*.code-workspace
.vscode/

.idea/

*.user

*.zip
*.7z
*.tar
*.gz

*.sdf
*.opensdf
ipch/

shaders/
